@media only screen and (max-width: 1200px) {
  .logo img {
      width: 100%;
  }
  .row {
    width: 100%;
  }
  #about {
    width: 100%;
  }
  .the-hotel ,.star {
    margin: 10px;
  }
  #room .hotel-img {
    justify-content: center;
    gap: 10px;
  }
  #room .hotel-img .card img {
    height: 400px;
    width: 380px;
  }
  #room .hotel-img .set-in img {
     height: 400px;
     width: 580px;
  }
  .slilder {
    width: 1200px;
    margin: 0px;
  }
  .hotel-facil {
    gap: 15px;
  }
  .servi-point {
    height: 250px;
    width: 350px;
  }
  .box-text h1 {
    font-size: 20px;
  }
  }
/* ....................................................................... */
@media only screen and (max-width: 992px) {
  .logo img {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .main-menu li a {
    font-size: 11px;
  }
  #about {
    width: 100%;
  }
  .the-hotel ,.star {
    margin: 10px;
  }
  .the-hotel p {
    width: 450px;
  }
  #room .hotel-img {
    justify-content: center;
    gap: 10px;
  }
  #room .hotel-img .card img {
    height: 400px;
    width: 300px;
  }
  .card:hover h1::before {
    width: 100%;
  }
  #room .hotel-img .set-in img {
    height: 400px;
    width: 455px;
  }
  .slilder {
    width: 400px;
    margin: 0px;
  }
  .box-text h1 {
    font-size: 18px;
  }
  }
/* ....................................................................... */
@media only screen and (max-width: 768px) {
  .main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #222;
    transition: 1.8s all ease;
    display: none;
    align-items: center;
    transform: translateX(-800px);
  }
  .main-menu.show {
    transform: translateX(0px);
    transition: 1.8s all ease;
  }     
  .main-menu.show {
    transform: translateX(0px);
    transition: 1.8s all ease;
  }
  .main-menu li a {  
    display: block;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
  }
  .menu-btn {
    display: block;
  }
  .logo{
    width: 100%;
  }
  .logo img {
    width: 20%;
  }
  .hotel-pic  , #about ,.contain , .Luxury {
    width: 100%;
  }  
  .booking {
    display: none;
  }
  .hotel-pic {
    justify-content: center;
  }
  #room .hotel-img {
    width: 100%;
  }
  .extra-services {
    flex-wrap: nowrap;
  }
  .slilder {
    width: 800px;
    margin: 0px;
  }
  .hotel-facil {
    width: 100%;
  }
  #services .our-ser {
    padding:0 ;
    text-align: center;
  }
  #room .room-suites {
    padding-left: 0;
    text-align: center;
  }
  .dot-container {
    top: 90%;
  }
  .hotel-use {
    width: 100%;
    padding: 70px;
  } 
  #hotel-restra,#hotel-spa,#hotel-health { 
    margin-bottom: 80px;
    width: 100%;
  }
  #contect ,.back-pic,.part8,.part9 {
    width: 100%;
  }
  .slider-company {
    top: 40%;
    width: 100%;
  }
  #footer-part, .about-hotel,.explore,.hotel-contect {
    width:100%;
  }
  .copy-right {
    width: 100%;
    text-align: center;
  }
  }
/* ....................................................................... */

@media only screen and (max-width:500px) {
  .main-menu {
    top: 100%;
    left: 0px;
    width: 100%;
    flex-direction: column;
    background: #222;
    transition: 1.8s all ease;
    display: none;
    align-items: center;
    transform: translateX(-800px);
  }
  .main-menu.show {
    transition: 1.8s all ease;
  }   
  .main-menu.show {
    transform: translateX(0px);
    transition: 1.8s all ease;
  }
  .main-menu li a { 
    display: block;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
  }
  .menu-btn {
    display: block;  
  }
  .row,.logo,.image{
    width: 100%;
  }
  .navbar,.logo img {
    width: 50%;
  }
  .booking {
    display: none;
  }
  .hotel-pic img {
    object-fit: cover;
  }
  .hotel-pic .first {
    margin-left: 10px;
  }
  .container .slide-container .slide  .image img {
    width: 100%;
    object-fit: cover;
  }
  .container .slide-container .slide .content h1 {
  font-size: 45px;
  }
  .hotel-pic ,#about ,.contain , .Luxury {
   width: 100%;
  }
  .the-hotel {
    width: 100%;
    margin: 10px;
  }
  .star{
    margin: 0;
  }
  .the-hotel p {
    width: 400px;
  }
  .extra-services {
    flex-wrap: wrap
  }
  .slilder {
    width: 800px;
    margin: 0px;
  }
  #room .hotel-img {
    padding: 20px;
  }
  .arrow{
    top: 98%;
    left: 50%;
  }
  #pages {
    padding: 20px;
  }
  .hotel-spa {
    background-size: cover;
    background-size: 100% 100%;
    height: 400px;
  }
  .mySlides {
    left: 5%;
  }
  .mySlides p {
    width: 160%;
  }
  .dot-container {
    top: 90%;
  }
  .quot {
    left: 120%;
  }
  .contain {
    gap: 5px;
    padding: 10px;
  }
  .hotel-use {
    width: 100%;
    padding: 70px;
  } 
  #hotel-restra,#hotel-spa,#hotel-health {
    margin-bottom: 80px;
    width: 100%;
  }
  #contect ,.back-pic,.part8,.part9 {
    width: 100%;
  }
  .part8 h2 {
    font-size: 20px;
    width: 450px;
  }
  .slider-company {
    top: 40%;
    width: 100%;
  }
  #footer-part, .about-hotel,.explore,.hotel-contect {
    width: 100%;
  }
  .copy-right {
    width: 100%;
    text-align: center;
  }
  .dot-container {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  }

